:root{
    --colormain: #fff;
    --colorsecond: #f5f5f5;
}
body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-main{
    background-color: var(--colormain);
}
.bg-second{
    background-color: var(--colorsecond);
} 

