.header{
   margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around

 }
 .top-text{
   font-size: 1.5rem;  
   display: flex;
   gap: 2rem;
   
 }
 header > nav > a{
   color: #000;
   text-decoration: none;
}
.hero{
   width: 80%;
   height: 665px;
   margin: 0 10%;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 5rem;
   background-image:url(../../Img/hero_image.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border-radius: 3rem;

}
.hero-main{
   text-transform: uppercase;
   margin-top: 5rem;
   font-size: 4rem;
}
.hero-second{
   width: 75%;
   font-size: 2rem;
   font-weight:200;
}
button{
   background-color: #000;
   color: #fff;
   padding: 1rem 2rem;
   border-radius: 0.5rem;
}
button:hover{
   background-color: #fff;
   color: #000;
}
.kvmr{
   background-color: var(--colorsecond);
   width: 100%;
   padding: 9rem;
}
.kvmr-h1{
background-color: var(--colorsecond);
font-size: 3rem;
text-align: center;
}
.kvmr-pic{
   margin-top: 9rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.kvmr-pictures{
   display: flex;
   flex-direction: column;
   background-color: #fff;
   max-width: 317px;
}
.picture-text{  
   background-color: var(--colorsecond);
   text-align: center;
   padding: 1rem 0;
   font-size: 1.5rem;
}
.duk{
   background-color: var(--colormain);
}
